<!-- Header section containing logo and menu -->
<div class="mdl-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-color-text--white mdl-color--light-blue-700">
    <div class="mdl-layout__header-row">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-left">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-color--amber-400 mdl-shadow--4dp mdl-js-ripple-effect" id="add" (click)="viewNewUrl()">
          <i class="material-icons">mode_edit</i>
        </button>
      </div>
      
      <div class="mdl-layout-spacer"></div>
            
      <button class="mdl-button--raised mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white" (click)="logout()">
        <i class="material-icons">account_circle</i> Sign out
      </button>
    </div>
  </header>
</div>

<main class="mdl-layout__content mdl-color--grey-100">

  <newurl *ngIf="displayPage == 'newurl'" (onFinished)="viewRecentPosts()"></newurl>
  
  <!-- Show a list of recent posts -->
  <section class="mdl-grid content" id="recent-posts-list" *ngIf="displayPage == 'posts'">
    <div ngForm class="posts-container mdl-cell mdl-cell--12-col mdl-grid">
      <div *ngFor="let url of urls" class="post mdl-cell mdl-cell--12-col mdl-cell--6-col-tablet mdl-cell--4-col-desktop mdl-grid mdl-grid--no-spacing">
        <url [url]="url"></url>
      </div>
    </div>
  </section>
</main>