<!-- Header section containing logo and menu -->
<header class="header mdl-layout__header mdl-color-text--white mdl-color--light-blue-700">

  <div class="mdl-layout__header-row titlebar">
    <h3 class="logo">Database Web Quickstart</h3>
    <button id="sign-out-button" class="mdl-button--raised mdl-button mdl-js-button mdl-js-ripple-effect" (click)="logout()">
      <i class="material-icons">account_circle</i> Sign out
    </button>
  </div>

  <!-- Navigation Bar -->
  <div class="tab mdl-layout__header-row mdl-color--light-blue-600">
    <div class="mdl-tab">
      <div id="menu-recent" class="mdl-layout__tab is-active mdl-button mdl-js-button mdl-js-ripple-effect" (click)="state = 'posts'">
        <i class="material-icons">new_releases</i> Recent
      </div>
      <div id="menu-my-posts" class="mdl-layout__tab mdl-button mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">home</i> My posts
      </div>
      <div id="menu-my-top-posts" class="mdl-layout__tab mdl-button mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">trending_up</i> My top posts
      </div>
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-color--amber-400 mdl-shadow--4dp mdl-js-ripple-effect" id="add" (click)="state = 'newurl'">
        <i class="material-icons">mode_edit</i>
      </button>
    </div>
  </div>
</header>

<main class="mdl-layout__content mdl-color--grey-100">

  <newurl *ngIf="state == 'newurl'" (onFinished)="state = 'posts'"></newurl>

  <!-- Show a list of recent posts -->
  <section class="mdl-grid content" id="recent-posts-list" *ngIf="state == 'posts'">
    <div class="posts-container mdl-cell mdl-cell--12-col mdl-grid">
      <div *ngFor="let url of urls | async" class="post mdl-cell mdl-cell--12-col mdl-cell--6-col-tablet mdl-cell--4-col-desktop mdl-grid mdl-grid--no-spacing">
        <div class="mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-color--light-blue-600 mdl-color-text--white">
            <h4 class="mdl-card__title-text">{{ url.author }}</h4>
          </div>
          <div class="header"></div>
          <span class="star">
            <div class="not-starred material-icons">star_border</div>
            <div class="starred material-icons">star</div>
            <div class="star-count">{{ url.upvotes ? url.upvotes : 0 }}</div>
          </span>
          <div class="text">{{ url.text }}</div>
          <div class="comments-container"></div>
          <form class="add-comment" action="#">
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input new-comment" type="text">
              <label class="mdl-textfield__label">Comment...</label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Show the list of user's posts -->
  <section class="mdl-grid content" id="user-posts-list" style="display:none">
    <div class="posts-container mdl-cell mdl-cell--12-col mdl-grid">
    </div>
  </section>

  <!-- Show the list of top user's posts -->
  <section class="mdl-grid content" id="top-user-posts-list" style="display:none">
    <div class="posts-container mdl-cell mdl-cell--12-col mdl-grid">
    </div>
  </section>
</main>