<section id="page-splash">
  <h3 class="logo">Database Web Quickstart</h3>
  <div class="mdl-grid">
    <button id="sign-in-button" class="mdl-button--raised mdl-button mdl-js-button mdl-js-ripple-effect" (click)="login()">
      <i class="material-icons">account_circle</i> Sign in with Google
    </button>
  </div>
  <div class="mdl-grid">
    <button id="sign-in-button" class="mdl-button--raised mdl-button mdl-js-button mdl-js-ripple-effect" (click)="loginAnonymously()">
      Sign in Anonymously
    </button>
  </div>
</section>