<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-color--light-blue-600 mdl-color-text--white">
    <h4 class="mdl-card__title-text">{{ url.author }}</h4>
    <span class="star">
      <div class="not-starred material-icons" (click)="like()" *ngIf="!doesUserLike()">star_border</div>
      <div class="starred material-icons" (click)="unlike()" *ngIf="doesUserLike()">star</div>
      <div class="star-count">{{ likes | count }}</div>
    </span>
  </div>
  <div class="header"></div>
  <div class="text">{{ url.text }}</div>
  <div class="comments-container">
    <ul class="mdl-list">
      <li class="mdl-list__item mdl-list__item--three-line" *ngFor="let c of comments | values">
        <span class="mdl-list__item-primary-content">
          <span>{{c.author}}</span>
          <span class="mdl-list__item-text-body">{{c.comment}}</span>
        </span>
      </li>
    </ul>
  </div>
  <div class="add-comment">
    <div class="mdl-textfield mdl-js-textfield">
      <input #comment class="mdl-textfield__input new-comment" type="text" placeholder="Comment..." (keyup.enter)="addComment(comment.value); comment.value = '';">
    </div>
  </div>
</div>